
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data & results
# data/processed/
# models/
# results/
# reports/

# OS files
.DS_Store
Thumbs.db
